# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qhlkxojumfrgymimvplo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFobGt4b2p1bWZyZ3ltaW12cGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MjY2ODYsImV4cCI6MjA5MDUwMjY4Nn0.qPPcS7xEXtm3P1MYGmAA_PL2PxqXDSH4rQzxbIcU8SY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFobGt4b2p1bWZyZ3ltaW12cGxvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDkyNjY4NiwiZXhwIjoyMDkwNTAyNjg2fQ.DJWxKLpFU7rxlj-_uLOASA4psy2Pfx1gNkUQgn5Rbng

# MercadoPago
MERCADOPAGO_ACCESS_TOKEN=APP_USR-6341090179592484-040215-0e996021b4ab79693ed5a62ea8e6c94e-3310906826
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-3460ee39-81f9-4fb2-9474-7a517020b5b7

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
